<h1><%= @board.name %></h1>
<%= link_to "Add pin (+) <i class='fa fa-thumb-tack'></i>".html_safe, new_board_pin_path(@board) %><%= link_to "edit this board", edit_board_path(@board) %>

<h2><%= @board.description %></h2>

<%= image_tag(@board.photo_url, class: "pin-photo") %>

<div>
  <% @board.pins.each do |pin| %>
  <h1><%= link_to(pin.title, board_pin_path(@board, pin)) %><h1>
  <%= image_tag(pin.photo_url, class: "cover-photo") %>
  <% end %>
</div>
