<!DOCTYPE html>
<html>
<head>
  <title>Pinspiration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to 'Pinspiration!', boards_path %></h1>
  <nav>
    <p><%= link_to 'Boards', boards_path %></p>
    <p><%= link_to "New Board (+)", new_board_path() %></p>
    <% if current_user %>
    <p><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></p>
    <% else %>
    <p><%= link_to 'Signup', new_user_registration_path %></p>
    <p><%= link_to 'Login', new_user_session_path %></p>
    <% end %>
  </nav>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
